@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
html,
body{
    width: 100%;
    background-color: black;
    color:white;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@font-face {
  font-family: 'Modern Negra';
  src: url('/fonts/Modern-Negra-Demo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
h1,p,h2,h6,h3{
  font-family: 'Modern Negra';

}
span, .than{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ul{
    left: 100%;
    background-color: ;
}
nav{
    /* background-color: black; */
}
#hero{
    background: url('/images/56edfd94c8fe79567292d4b45605cc9c557d528b.png');
    opacity: ;
    
}
.cocktails{
    background: url('/images/56edfd94c8fe79567292d4b45605cc9c557d528b.png');

}
.cool{
    line-height: 24px;
    font-weight: 500;
    font-size: 16px;
    font-style: ;
}
.subtitle{
    line-height: 46px;
    font-size: 50px;
    color: rgb(218, 212, 194);
}
.sub{
    line-height: 46px;
    font-size: 30px;
    color: white;
    right: 40%;
    opacity: 0.8;
    /* font-weight: bolder; */
}
.subtitles{
    margin-left: 1000px;
    margin-bottom: ;
    gap: 12px;
    width: 299px;
    margin-top: -140px;
    opacity: 0.8;
}
.subt{
    margin-left: 750px;
    /* margin-bottom:200px ; */
    font-size: 30px;
    color: white;
    margin-top: -370px;
        opacity: 0.8;
    opacity: 0.8;

}
.text-gradient{
    background: linear-gradient(to bottom, #ffffff, #898989);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
}
.box{
    background-color: green;
    width: 40px;
    height: 50px;
    margin-top: 100px;
    margin-left: 100px;

}
tr,a{
      font-family: 'Poppins', sans-serif;

}
.noisy{
    background: url('/images/noise.png');
}
.masked-img{
    mask-image: url("/images/mask-img.png");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 50%;
}
.raial-gradient{
    background: radial-gradient(circle at center,#434343 0%, #000 50%,transparent 100%
    );
}
.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}
button{
    padding-bottom: 2px;
    cursor: pointer;

}
button:hover{
    color: yellow;
    border-bottom: 1px yellow solid;
    font-family: 'Modern Negra';
}
button:active{
    color: ; 
}
.btn{
    color: #7a7878;

}
.btn:active{
    color: white;
}